[Unit]
Description=apmon for xrootd instance "%i"

[Install]
WantedBy=multi-user.target

[Service]
User=xrootd
Type=simple
ExecStart=apmon /etc/xrootd/apmon_%i.conf
RestartSec=10
Restart=always
TimeoutSec=10
WorkingDirectory=/var/run/xrootd
