[Unit]
Description=apmon for xrootd instance "%i"

[Install]
WantedBy=multi-user.target

[Service]
User=xrootd
Type=simple
ExecStart=/usr/bin/apmon /etc/xrootd/apmon_%i.conf
TimeoutSec=10
WorkingDirectory=/run/xrootd
