[Unit]
Description=cmsd for xrootd data server
Requires=xrootd.service

[Install]
WantedBy=multi-user.target
Also=xrootd.service
Also=apmon.service

[Service]
User=xrootd
Group=xrootd
Type=simple
ExecStart=cmsd -s -n server -l /var/log/xrootd/logs/cmslog -c /etc/xrootd/xrootd.cf
RestartSec=10
Restart=always
TimeoutSec=10
