[Unit]
Description=cmsd for xrootd instance "%i"

[Install]
WantedBy=multi-user.target

[Service]
User=xrootd
Type=simple
ExecStart=/usr/bin/cmsd   -n %i -l /var/log/xrootd/cmslog -c /etc/xrootd/xrootd_%i.cf
RestartSec=10
Restart=always
TimeoutSec=10
WorkingDirectory=/var/run/xrootd
