[Unit]
Description=xrootd instance "%i"

[Install]
WantedBy=multi-user.target

[Service]
User=xrootd
Type=simple
ExecStart=/usr/bin/paul-xrootd/xrootd -n %i -l /var/log/paul-xrootd/xrootd_%i.log -c /etc/paul-xrootd/xrootd_%i.cf -k hup
TimeoutSec=10
WorkingDirectory=/var/run/paul-xrootd
LimitNOFILE=65536
