[Unit]
Description=xrootd data server
Requires=apmon.service
Requires=cmsd.service
[Install]
WantedBy=multi-user.target
Also=apmon.service
Also=cmsd.service

[Service]
User=xrootd
Type=simple
ExecStart=/usr/bin/xrootd -l /var/log/xrootd/xrdlog -c /etc/xrootd/xrootd.cf
RestartSec=10
Restart=always
TimeoutSec=10
WorkingDirectory=/var/run/xrootd
